<% include ./partials/top.ejs %>

<div class="container-fluid">
    <div class="col">

        <h1>Templates</h1>
        <ul>
            <li>
                <a href="/jumbotron">Jumbotron</a>
            </li>
            <li>
                <a href="/album">Album</a>
            </li>
            <li>
                <a href="/pricing">Pricing</a>
            </li>
            <li>
                <a href="/product">Product</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>

        </ul>

        <aside>
            Create a new template using <a href="/mock">views/partials/mock.ejs</a>
        </aside>

    </div>
</div>

<% include ./partials/bottom.ejs %>

